p, h1, h2, .name {
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.font2 {
    font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}