p, h1, h2, .name {
    padding-left: 10px;
    padding-right: 10px;
    font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.font2 {
    font-family:'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.paypal-btn {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 12rem; 
    background-color: #F7CA3E !important; 
    border: none !important;
    transition: 0.25s;
}

.paypal-btn:hover {
    transition: 0.25s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body, nav {
    width: 100vw;
}

/* Grundlegende Fixes für mobile Responsivität */
* {
    box-sizing: border-box;
  }
  
  img, video, iframe, table {
    max-width: 100%;
    height: auto;
  }
  
  body {
    overflow-x: hidden;
    width: 100%;
  }
  
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }